<p>
  <label>Application Name:</label>
  <%= text_field_tag 'settings[app_name]', @settings[:app_name] %>
</p>
<p>
  <label>Site URL:</label>
  <%= text_field_tag 'settings[site_url]', @settings[:site_url] %>
</p>
<p>
  <label>Authorization URL:</label>
  <%= text_field_tag 'settings[auth_url]', @settings[:auth_url] %>
</p>
<p>
  <label>Token URL:</label>
  <%= text_field_tag 'settings[token_url]', @settings[:token_url] %>
</p>
<p>
  <label>Webservice URL:</label>
  <%= text_field_tag 'settings[ws_url]', @settings[:ws_url] %>
</p>
<p>
  <label>Client ID:</label>
  <%= text_field_tag 'settings[client_id]', @settings[:client_id] %>
</p>
<p>
  <label>Client Secret:</label>
  <%= text_field_tag 'settings[client_secret]', @settings[:client_secret] %>
</p>
<p>
  <label>Username field:</label>
  <%= text_field_tag 'settings[field_username]', @settings[:field_username] %>
</p>
<p>
  <label>Mail field:</label>
  <%= text_field_tag 'settings[field_email]', @settings[:field_email] %>
</p>
<p>
  <label>First name field:</label>
  <%= text_field_tag 'settings[field_firstname]', @settings[:field_firstname] %>
</p>
<p>
  <label>Last name field:</label>
  <%= text_field_tag 'settings[field_lastname]', @settings[:field_lastname] %>
</p>
<p>
  <label>Force account creation :</label>
  <%= check_box_tag "settings[force_account_creation]", true, @settings[:force_account_creation] %>
</p>
<p>
  <label>Enable OAuth authentification:</label>
  <%= check_box_tag "settings[oauth_authentification]", true, @settings[:oauth_authentification] %>
</p>
